.toolbar {
  display: flex;
  align-items: center;
  background-color: white;
  overflow-x: auto;
  padding: 0.5rem;

  &--mb {
    margin-bottom: 1rem;
  }

  &__left {
    display: flex;
    flex: 1;

    & > * {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    & > * {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
