.env
.env.*
!.env.defaults
!.env.sample
node_modules
.idea
dist
package/
.vscode
burdy/
docs/
burdy.tar.gz
build.tar.gz
project/
.next
next.config.js
next-env.d.ts

# Cypress / E2E
e2e/videos
e2e/screenshots
